{{!-- <div class='template-content'>
	<div class="kai-chat-message kai-left kai-generic-template-wrapper kai-has-previous kai-alt-answer alt-questions-template-wrapper">
		<div class="kai-generic-template-background">
			<div class="alt-carousel-arrows">						
				<div class="kai-alt-left-arrow-wrap" style="display:none;">
					<i class="fa fa-angle-left kai-left-arrow" aria-hidden="true"></i>
				</div>						
				<div class="kai-alt-right-arrow-wrap" style="display:none;">
					<i class="fa fa-angle-right kai-right-arrow" aria-hidden="true"></i>
				</div>						
			</div>
			<div class="alt-carousel-content-wrap">
			{{#each contents}}
				<div class="kai-generic-template" index="{{@index}}">
					<div class="kai-title" style="height: 54.8px;">
						<p>{{question}}</p>
					</div>

					<div class="kai-alt-button" payload="{{question}}" payload_id="{{question_id}}">View Answer</div>
				</div>
	        {{/each}}
	        </div>
		</div>
	</div>
</div>
 --}}