<div class="kai-user-wrapper bot">
	<div class="kai-user-icon" style="top: 28.875px;"><img class="kai-bot-logo" src="images/custom/chat-icon.png"></div>
	<div class="kai-chat-row">
		<div class="kai-chat-message kai-left kai-typing-indicator">
			<span></span><span></span><span></span>
		</div>
	</div>
</div>